version: '3.8'

services:
  client:
    build: ./client-side
    ports:
      - "3000:3000"
    environment:
      - SERVER_URL=http://server:3001
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_NAME=${MONGODB_NAME}
      - ACCESS_KEY=${ACCESS_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - GEMINI_API_KEY1=${GEMINI_API_KEY1}
      - GEMINI_API_KEY2=${GEMINI_API_KEY2}
    depends_on:
      - server
    restart: unless-stopped

  server:
    build: ./mcp-mongo-project
    ports:
      - "3001:3001"
    environment:
      - ACCESS_KEY=${ACCESS_KEY}
      - MONGO_URI=${MONGO_URI}
      - MONGODB_NAME=${MONGODB_NAME}
      - POSTGRES_URI=${POSTGRES_URI}
    restart: unless-stopped