version: "3.8"

services:
  client:
    build: ./client
    container_name: client_service
    ports:
      - "3002:3002"
    env_file:
      - ./client/.env
    volumes:
      - ./client:/app
    environment:
      - PYTHONPATH=/app:/app/mcp_mongo_postgres
      - SERVER_URL=http://server:3003
      - MONGODB_URI=${MONGODB_URI}
      - MONGODB_NAME=${MONGODB_NAME}
      - ACCESS_KEY=${ACCESS_KEY}
      - GEMINI_API_KEY=${GEMINI_API_KEY}
      - GEMINI_API_KEY1=${GEMINI_API_KEY1}
      - GEMINI_API_KEY2=${GEMINI_API_KEY2}
    depends_on:
      - mcp_mongo_postgres
    restart: unless-stopped

  mcp_mongo_postgres:
    build: ./mcp_mongo_postgres
    container_name: mcp_service
    ports:
      - "3003:3003"
    env_file:
      - ./mcp_mongo_postgres/.env
    volumes:
      - ./mcp_mongo_postgres:/app
    environment:
      - ACCESS_KEY=${ACCESS_KEY}
      - MONGO_URI=${MONGO_URI}
      - MONGODB_NAME=${MONGODB_NAME}
      - POSTGRES_URL=${POSTGRES_URL}
    restart: unless-stopped